/* 
  we migrated to antd major version 5 before all the packages were ready.
  currently uniforms-antd is not compatible with antd 5, there is an issue
  exists for this: https://github.com/vazco/uniforms/issues/1259.
  once it is resolved, we can remove this temporal fix.
*/
.ant-form-vertical .ant-form-item .ant-row {
  display: flex;
  flex-direction: column;
}
.ant-form-vertical .ant-form-item .ant-form-item-label {
  align-self: baseline;
}
