@import './quill.snow.override.css';
@import './antd.global.fix.css';
@import './tailwind.css';
@import './slick.css';
@import './tailwind-fix.css';

@import 'react-quill/dist/quill.snow.css';
@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

/**
  apply fix for common css problems:
    - remove default padding/margin from html and body
    - set 100% width and height for html and body
    - set box-sizing, remove outlines, etc

  https://www.elvisduru.com/blog/how-to-customize-ant-design-theme-in-nextjs
*/

@import 'antd/dist/reset.css';

#__next {
  height: 100%;
}

/**
 * quill editor sets font family, font size to default values
 * this override removes them to use the custom font selected by the user
 */
.ql-container {
  font-family: unset;
  font-weight: unset;
  font-size: unset;
}
